--
-- PostgreSQL database dump
--

-- Dumped from database version 17.0
-- Dumped by pg_dump version 17.0

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: auth_group; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.auth_group (
    id integer NOT NULL,
    name character varying(150) NOT NULL
);


--
-- Name: auth_group_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.auth_group ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_group_permissions; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.auth_group_permissions (
    id bigint NOT NULL,
    group_id integer NOT NULL,
    permission_id integer NOT NULL
);


--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.auth_group_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_permission; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.auth_permission (
    id integer NOT NULL,
    name character varying(255) NOT NULL,
    content_type_id integer NOT NULL,
    codename character varying(100) NOT NULL
);


--
-- Name: auth_permission_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.auth_permission ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_permission_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: authtoken_token; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.authtoken_token (
    key character varying(40) NOT NULL,
    created timestamp with time zone NOT NULL,
    user_id uuid NOT NULL
);


--
-- Name: cart_cart; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.cart_cart (
    id bigint NOT NULL,
    created_at timestamp with time zone NOT NULL,
    user_id uuid NOT NULL
);


--
-- Name: cart_cart_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.cart_cart ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.cart_cart_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: cart_cartitem; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.cart_cartitem (
    id bigint NOT NULL,
    quantity integer NOT NULL,
    cart_id bigint NOT NULL,
    item_id bigint NOT NULL,
    CONSTRAINT cart_cartitem_quantity_check CHECK ((quantity >= 0))
);


--
-- Name: cart_cartitem_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.cart_cartitem ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.cart_cartitem_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_admin_log; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.django_admin_log (
    id integer NOT NULL,
    action_time timestamp with time zone NOT NULL,
    object_id text,
    object_repr character varying(200) NOT NULL,
    action_flag smallint NOT NULL,
    change_message text NOT NULL,
    content_type_id integer,
    user_id uuid NOT NULL,
    CONSTRAINT django_admin_log_action_flag_check CHECK ((action_flag >= 0))
);


--
-- Name: django_admin_log_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.django_admin_log ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_admin_log_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_content_type; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.django_content_type (
    id integer NOT NULL,
    app_label character varying(100) NOT NULL,
    model character varying(100) NOT NULL
);


--
-- Name: django_content_type_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.django_content_type ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_content_type_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_migrations; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.django_migrations (
    id bigint NOT NULL,
    app character varying(255) NOT NULL,
    name character varying(255) NOT NULL,
    applied timestamp with time zone NOT NULL
);


--
-- Name: django_migrations_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.django_migrations ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_migrations_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_session; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.django_session (
    session_key character varying(40) NOT NULL,
    session_data text NOT NULL,
    expire_date timestamp with time zone NOT NULL
);


--
-- Name: saved_items_saveditem; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.saved_items_saveditem (
    id bigint NOT NULL,
    item_id bigint NOT NULL,
    user_id uuid NOT NULL
);


--
-- Name: saved_items_saveditem_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.saved_items_saveditem ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.saved_items_saveditem_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: shop_item; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.shop_item (
    id bigint NOT NULL,
    name character varying(50) NOT NULL,
    price double precision NOT NULL,
    image_url character varying(500)
);


--
-- Name: shop_item_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.shop_item ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.shop_item_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: user_customuser; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.user_customuser (
    password character varying(128) NOT NULL,
    is_superuser boolean NOT NULL,
    id uuid NOT NULL,
    email character varying(254) NOT NULL,
    first_name character varying(50) NOT NULL,
    last_name character varying(50) NOT NULL,
    is_active boolean NOT NULL,
    is_staff boolean NOT NULL,
    date_joined timestamp with time zone NOT NULL,
    last_login timestamp with time zone NOT NULL
);


--
-- Name: user_customuser_groups; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.user_customuser_groups (
    id bigint NOT NULL,
    customuser_id uuid NOT NULL,
    group_id integer NOT NULL
);


--
-- Name: user_customuser_groups_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.user_customuser_groups ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.user_customuser_groups_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: user_customuser_user_permissions; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.user_customuser_user_permissions (
    id bigint NOT NULL,
    customuser_id uuid NOT NULL,
    permission_id integer NOT NULL
);


--
-- Name: user_customuser_user_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

ALTER TABLE public.user_customuser_user_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.user_customuser_user_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Data for Name: auth_group; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.auth_group (id, name) FROM stdin;
\.


--
-- Data for Name: auth_group_permissions; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.auth_group_permissions (id, group_id, permission_id) FROM stdin;
\.


--
-- Data for Name: auth_permission; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: authtoken_token; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.authtoken_token (key, created, user_id) FROM stdin;
74bd43e7760b516b6c089f5f1b23f96ae8a361c4	2024-10-12 12:33:38.803244+01	25c4c1f1-ee69-4c18-99d3-0f1d8ba6ccf3
2a141766133958cf4aa4a48c65aa979a39c5368d	2024-10-16 08:51:16.911807+01	1b1dca79-1367-4e38-aae2-1358d3ceaabe
d652cd89eb48f7cd8db827eade913be5d596d566	2024-10-17 14:07:40.534959+01	91137df0-d0ea-4755-98a5-bce36d50529c
2d6fdcb74aa081d73b2738aba8f94b1ece366a81	2024-10-29 11:12:58.357345+01	466f04d9-eccf-41ee-b276-66c0a1678f46
\.


--
-- Data for Name: cart_cart; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.cart_cart (id, created_at, user_id) FROM stdin;
7	2024-10-18 10:48:59.806826+01	466f04d9-eccf-41ee-b276-66c0a1678f46
\.


--
-- Data for Name: cart_cartitem; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.cart_cartitem (id, quantity, cart_id, item_id) FROM stdin;
\.


--
-- Data for Name: django_admin_log; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: django_content_type; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.django_content_type (id, app_label, model) FROM stdin;
1	admin	logentry
2	auth	permission
3	auth	group
4	contenttypes	contenttype
5	sessions	session
6	authtoken	token
7	authtoken	tokenproxy
8	user	customuser
9	shop	item
10	saved_items	saveditem
11	cart	cart
12	cart	cartitem
\.


--
-- Data for Name: django_migrations; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: django_session; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.django_session (session_key, session_data, expire_date) FROM stdin;
ry2ldn0oxwqupurumoe0n5jaj5k6eq3s	.eJxVjjsOwjAQRO_iGlv-sbYp6TlD5F2vSQDFUj4V4u4kUgqo572ZeYsur0vfrTNP3VDERXiAqn1Jkomq9IZZog0gAUhnAyFWD-L0q2GmJ4-7Wx55vDdFbVymAdWOqCOd1a0Vfl0P9q-gz3O_2RHBB2fpzBg0UsoOwRk22sRt2HIiTLVu78BbSBVKgqBdDMZxJdRZfL71g0D3:1szGud:BAYWrdQC1ybTJNs5BJCcNEzFGZR4Uvlz_z7ZxcwxgWY	2024-10-25 15:46:39.682177+01
\.


--
-- Data for Name: saved_items_saveditem; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.saved_items_saveditem (id, item_id, user_id) FROM stdin;
3	5	466f04d9-eccf-41ee-b276-66c0a1678f46
4	2	466f04d9-eccf-41ee-b276-66c0a1678f46
6	4	903372f5-da9c-4ddb-9cab-f0133270ae91
7	2	31d32361-efa7-4198-8460-fe1cf2787da4
9	26	466f04d9-eccf-41ee-b276-66c0a1678f46
10	43	466f04d9-eccf-41ee-b276-66c0a1678f46
11	28	466f04d9-eccf-41ee-b276-66c0a1678f46
12	41	466f04d9-eccf-41ee-b276-66c0a1678f46
\.


--
-- Data for Name: shop_item; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: user_customuser; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: user_customuser_groups; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.user_customuser_groups (id, customuser_id, group_id) FROM stdin;
\.


--
-- Data for Name: user_customuser_user_permissions; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.user_customuser_user_permissions (id, customuser_id, permission_id) FROM stdin;
\.


--
-- Name: auth_group_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.auth_group_id_seq', 1, false);


--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.auth_group_permissions_id_seq', 1, false);


--
-- Name: auth_permission_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.auth_permission_id_seq', 48, true);


--
-- Name: cart_cart_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.cart_cart_id_seq', 7, true);


--
-- Name: cart_cartitem_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.cart_cartitem_id_seq', 17, true);


--
-- Name: django_admin_log_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.django_admin_log_id_seq', 54, true);


--
-- Name: django_content_type_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.django_content_type_id_seq', 12, true);


--
-- Name: django_migrations_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.django_migrations_id_seq', 29, true);


--
-- Name: saved_items_saveditem_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.saved_items_saveditem_id_seq', 12, true);


--
-- Name: shop_item_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.shop_item_id_seq', 50, true);


--
-- Name: user_customuser_groups_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.user_customuser_groups_id_seq', 1, false);


--
-- Name: user_customuser_user_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public.user_customuser_user_permissions_id_seq', 1, false);


--
-- Name: auth_group auth_group_name_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_name_key UNIQUE (name);


--
-- Name: auth_group_permissions auth_group_permissions_group_id_permission_id_0cd325b0_uniq; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_permission_id_0cd325b0_uniq UNIQUE (group_id, permission_id);


--
-- Name: auth_group_permissions auth_group_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_pkey PRIMARY KEY (id);


--
-- Name: auth_group auth_group_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_pkey PRIMARY KEY (id);


--
-- Name: auth_permission auth_permission_content_type_id_codename_01ab375a_uniq; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_codename_01ab375a_uniq UNIQUE (content_type_id, codename);


--
-- Name: auth_permission auth_permission_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_pkey PRIMARY KEY (id);


--
-- Name: authtoken_token authtoken_token_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.authtoken_token
    ADD CONSTRAINT authtoken_token_pkey PRIMARY KEY (key);


--
-- Name: authtoken_token authtoken_token_user_id_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.authtoken_token
    ADD CONSTRAINT authtoken_token_user_id_key UNIQUE (user_id);


--
-- Name: cart_cart cart_cart_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.cart_cart
    ADD CONSTRAINT cart_cart_pkey PRIMARY KEY (id);


--
-- Name: cart_cart cart_cart_user_id_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.cart_cart
    ADD CONSTRAINT cart_cart_user_id_key UNIQUE (user_id);


--
-- Name: cart_cartitem cart_cartitem_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.cart_cartitem
    ADD CONSTRAINT cart_cartitem_pkey PRIMARY KEY (id);


--
-- Name: django_admin_log django_admin_log_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_pkey PRIMARY KEY (id);


--
-- Name: django_content_type django_content_type_app_label_model_76bd3d3b_uniq; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_app_label_model_76bd3d3b_uniq UNIQUE (app_label, model);


--
-- Name: django_content_type django_content_type_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_pkey PRIMARY KEY (id);


--
-- Name: django_migrations django_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.django_migrations
    ADD CONSTRAINT django_migrations_pkey PRIMARY KEY (id);


--
-- Name: django_session django_session_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.django_session
    ADD CONSTRAINT django_session_pkey PRIMARY KEY (session_key);


--
-- Name: saved_items_saveditem saved_items_saveditem_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.saved_items_saveditem
    ADD CONSTRAINT saved_items_saveditem_pkey PRIMARY KEY (id);


--
-- Name: saved_items_saveditem saved_items_saveditem_user_id_item_id_4821d426_uniq; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.saved_items_saveditem
    ADD CONSTRAINT saved_items_saveditem_user_id_item_id_4821d426_uniq UNIQUE (user_id, item_id);


--
-- Name: shop_item shop_item_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.shop_item
    ADD CONSTRAINT shop_item_pkey PRIMARY KEY (id);


--
-- Name: user_customuser user_customuser_email_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.user_customuser
    ADD CONSTRAINT user_customuser_email_key UNIQUE (email);


--
-- Name: user_customuser_groups user_customuser_groups_customuser_id_group_id_e0a2f621_uniq; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.user_customuser_groups
    ADD CONSTRAINT user_customuser_groups_customuser_id_group_id_e0a2f621_uniq UNIQUE (customuser_id, group_id);


--
-- Name: user_customuser_groups user_customuser_groups_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.user_customuser_groups
    ADD CONSTRAINT user_customuser_groups_pkey PRIMARY KEY (id);


--
-- Name: user_customuser user_customuser_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.user_customuser
    ADD CONSTRAINT user_customuser_pkey PRIMARY KEY (id);


--
-- Name: user_customuser_user_permissions user_customuser_user_per_customuser_id_permission_a5da865d_uniq; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.user_customuser_user_permissions
    ADD CONSTRAINT user_customuser_user_per_customuser_id_permission_a5da865d_uniq UNIQUE (customuser_id, permission_id);


--
-- Name: user_customuser_user_permissions user_customuser_user_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.user_customuser_user_permissions
    ADD CONSTRAINT user_customuser_user_permissions_pkey PRIMARY KEY (id);


--
-- Name: auth_group_name_a6ea08ec_like; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX auth_group_name_a6ea08ec_like ON public.auth_group USING btree (name varchar_pattern_ops);


--
-- Name: auth_group_permissions_group_id_b120cbf9; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX auth_group_permissions_group_id_b120cbf9 ON public.auth_group_permissions USING btree (group_id);


--
-- Name: auth_group_permissions_permission_id_84c5c92e; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX auth_group_permissions_permission_id_84c5c92e ON public.auth_group_permissions USING btree (permission_id);


--
-- Name: auth_permission_content_type_id_2f476e4b; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX auth_permission_content_type_id_2f476e4b ON public.auth_permission USING btree (content_type_id);


--
-- Name: authtoken_token_key_10f0b77e_like; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX authtoken_token_key_10f0b77e_like ON public.authtoken_token USING btree (key varchar_pattern_ops);


--
-- Name: cart_cartitem_cart_id_370ad265; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX cart_cartitem_cart_id_370ad265 ON public.cart_cartitem USING btree (cart_id);


--
-- Name: cart_cartitem_item_id_f315a26e; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX cart_cartitem_item_id_f315a26e ON public.cart_cartitem USING btree (item_id);


--
-- Name: django_admin_log_content_type_id_c4bce8eb; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX django_admin_log_content_type_id_c4bce8eb ON public.django_admin_log USING btree (content_type_id);


--
-- Name: django_admin_log_user_id_c564eba6; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX django_admin_log_user_id_c564eba6 ON public.django_admin_log USING btree (user_id);


--
-- Name: django_session_expire_date_a5c62663; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX django_session_expire_date_a5c62663 ON public.django_session USING btree (expire_date);


--
-- Name: django_session_session_key_c0390e0f_like; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX django_session_session_key_c0390e0f_like ON public.django_session USING btree (session_key varchar_pattern_ops);


--
-- Name: saved_items_saveditem_item_id_5d883de3; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX saved_items_saveditem_item_id_5d883de3 ON public.saved_items_saveditem USING btree (item_id);


--
-- Name: saved_items_saveditem_user_id_cfdba685; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX saved_items_saveditem_user_id_cfdba685 ON public.saved_items_saveditem USING btree (user_id);


--
-- Name: user_customuser_email_2292cf6d_like; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX user_customuser_email_2292cf6d_like ON public.user_customuser USING btree (email varchar_pattern_ops);


--
-- Name: user_customuser_groups_customuser_id_192632a7; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX user_customuser_groups_customuser_id_192632a7 ON public.user_customuser_groups USING btree (customuser_id);


--
-- Name: user_customuser_groups_group_id_bcbc9e48; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX user_customuser_groups_group_id_bcbc9e48 ON public.user_customuser_groups USING btree (group_id);


--
-- Name: user_customuser_user_permissions_customuser_id_4552d9cc; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX user_customuser_user_permissions_customuser_id_4552d9cc ON public.user_customuser_user_permissions USING btree (customuser_id);


--
-- Name: user_customuser_user_permissions_permission_id_e57e8b9a; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX user_customuser_user_permissions_permission_id_e57e8b9a ON public.user_customuser_user_permissions USING btree (permission_id);


--
-- Name: auth_group_permissions auth_group_permissio_permission_id_84c5c92e_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissio_permission_id_84c5c92e_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_group_permissions auth_group_permissions_group_id_b120cbf9_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_b120cbf9_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_permission auth_permission_content_type_id_2f476e4b_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_2f476e4b_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: authtoken_token authtoken_token_user_id_35299eff_fk_user_customuser_id; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.authtoken_token
    ADD CONSTRAINT authtoken_token_user_id_35299eff_fk_user_customuser_id FOREIGN KEY (user_id) REFERENCES public.user_customuser(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: cart_cart cart_cart_user_id_9b4220b9_fk_user_customuser_id; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.cart_cart
    ADD CONSTRAINT cart_cart_user_id_9b4220b9_fk_user_customuser_id FOREIGN KEY (user_id) REFERENCES public.user_customuser(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: cart_cartitem cart_cartitem_cart_id_370ad265_fk_cart_cart_id; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.cart_cartitem
    ADD CONSTRAINT cart_cartitem_cart_id_370ad265_fk_cart_cart_id FOREIGN KEY (cart_id) REFERENCES public.cart_cart(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: cart_cartitem cart_cartitem_item_id_f315a26e_fk_shop_item_id; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.cart_cartitem
    ADD CONSTRAINT cart_cartitem_item_id_f315a26e_fk_shop_item_id FOREIGN KEY (item_id) REFERENCES public.shop_item(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_content_type_id_c4bce8eb_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_content_type_id_c4bce8eb_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_user_id_c564eba6_fk_user_customuser_id; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_user_id_c564eba6_fk_user_customuser_id FOREIGN KEY (user_id) REFERENCES public.user_customuser(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: saved_items_saveditem saved_items_saveditem_item_id_5d883de3_fk_shop_item_id; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.saved_items_saveditem
    ADD CONSTRAINT saved_items_saveditem_item_id_5d883de3_fk_shop_item_id FOREIGN KEY (item_id) REFERENCES public.shop_item(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: saved_items_saveditem saved_items_saveditem_user_id_cfdba685_fk_user_customuser_id; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.saved_items_saveditem
    ADD CONSTRAINT saved_items_saveditem_user_id_cfdba685_fk_user_customuser_id FOREIGN KEY (user_id) REFERENCES public.user_customuser(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: user_customuser_groups user_customuser_grou_customuser_id_192632a7_fk_user_cust; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.user_customuser_groups
    ADD CONSTRAINT user_customuser_grou_customuser_id_192632a7_fk_user_cust FOREIGN KEY (customuser_id) REFERENCES public.user_customuser(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: user_customuser_groups user_customuser_groups_group_id_bcbc9e48_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.user_customuser_groups
    ADD CONSTRAINT user_customuser_groups_group_id_bcbc9e48_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: user_customuser_user_permissions user_customuser_user_customuser_id_4552d9cc_fk_user_cust; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.user_customuser_user_permissions
    ADD CONSTRAINT user_customuser_user_customuser_id_4552d9cc_fk_user_cust FOREIGN KEY (customuser_id) REFERENCES public.user_customuser(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: user_customuser_user_permissions user_customuser_user_permission_id_e57e8b9a_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.user_customuser_user_permissions
    ADD CONSTRAINT user_customuser_user_permission_id_e57e8b9a_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- PostgreSQL database dump complete
--

