.App {
  text-align: center;
}

.shoe-wrapper{
  display: flex;
  justify-content: space-around;
}

.logo-wrapper{
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.shoe {
  height: 20vmin;
}

.App-header {
  background-color: white;
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-link {
  color: #61dafb;
}

.name{
  font-size: 3em;
  padding: 0;
}

.slogan{
  font-size: 1.5em;
}


/* Navbar Styles */


